body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 12pt;
    width: 100%;
}

input[type="submit"] {
    padding: 10px;
    font-size: 12pt;
    background: #87CEFA;
    border: none;
    color: black;
}

.kotak {
    background: #f6c6c6;
    width: 350px;
    padding: 100px;
    margin: 10px auto;
    border-radius: 200px;
}

.pesan {
    display: none;
    color: black;
    margin: 10px;
}